.sectionContainer {
  height: 584px;
  background: #121b64;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: fit-content;
  position: relative;
  margin-left: 72px;
  margin-top: 100px;
}

.summaryContainer p {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #f6f6f6;
  max-width: 342px;
}

.optionsContainer {
  position: relative;
  margin-top: 100px;
  margin-right: 76px;
  width: auto;
  display: flex;
  flex-direction: row;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  max-width: 342px;
}

.contactContainer h1 {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.contactContainer p {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #f6f6f6;
}

.contactNumber {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 0px;
  gap: 10px;
}

.companyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 13px;
  width: fit-content;
  margin-left: 174px;
}

.companyContainer h1 {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.companyItems {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #f6f6f6;
  text-decoration: none;
}

.investContainer {
  margin-left: 48px !important;
}

.divider {
  border: 1px solid #dfdede;
  width: calc(100vw - 144px);
  margin-left: 72px;
  margin-right: 72px;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 144px);
  margin-left: 72px;
  margin-bottom: 64px;
}

.licensingText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #f6f6f6;
  width: auto;
  max-width: 147px;
}

.mediaHandles {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 24px;
}

/* for ipad view */
@media only screen and (max-width: 1439px) {
  .sectionContainer {
    height: 579px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .optionsContainer {
    order: 0;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 37px;
    margin: 0;
    width: 100vw;
    max-width: 880px;
    margin-top: 64px;
  }

  .companyContainer {
    margin: 0 !important;
  }

  .investContainer {
    margin: 0;
  }

  .summaryContainer {
    order: 1;
    width: 100vw;
    max-width: 880px;
    margin: 0;
  }

  .divider {
    order: 2;
    width: 100vw;
    max-width: 880px;
    margin-top: 32px;
  }
  .linksContainer {
    order: 3;
    margin-left: 0;
    width: 100vw;
    max-width: 880px;
  }
}

/* mobile view */
@media only screen and (max-width: 480px) and (min-width: 280px) {
  .sectionContainer {
    /* padding: 64px 24px; */
    gap: 32px;
    height: 687px;
  }

  .summaryContainer {
    max-width: 327px;
    gap: 16px;
  }

  .summaryContainer p {
    font-size: 16px;
    line-height: 21px;
  }

  .optionsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 327px;
  }

  .contactContainer {
    gap: 8px;
    max-width: 327px;
    order: 2;
  }

  .companyContainer {
    order: 1;
  }

  .contactContainer p {
    font-size: 16px;
    line-height: 21px;
  }

  .companyItems {
    font-size: 16px;
    line-height: 21px;
  }

  .investContainer {
    order: 0;
  }

  .divider {
    width: calc(100vw - 48px);
    max-width: 327px;
  }

  .linksContainer {
    max-width: 327px;
  }
}
