.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 72px;
  gap: 32px;
  height: 996px;

  background: linear-gradient(180deg, #f6f6f6 0%, #f5fae7 100%);
}

.contentContainer {
  gap: 80px;
  height: 711px;
  width: 1296px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
  height: 20.78vh;
  width: 65.625vw;
}

.heading {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4.45vw;
  line-height: 5.34vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #121b64;
}

.content {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.94vw;
  line-height: 2.5vw;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  height: 450px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 312px;
  height: 450px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}

.cardImage {
  padding-top: 8px;
  border-radius: 6px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;
  width: 296px;
  height: 110px;
}

.cardContent h1 {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.cardContent p {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  height: 63px;
  color: #686868;
  width: 280px;
  height: 63px;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 10px;
  width: 296px;
  height: 37px;
}

.cardFooter p {
  color: #bebebe;
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.readMore {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #7e8139;
}

.moreBttn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 10px;
  border: 1px solid #121b64;
  border-radius: 55px;
  color: #121b64;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background: transparent;
}

/* for ipad view */
@media only screen and (max-width: 1439px) {
  .sectionContainer {
    height: 1407px;
    gap: 64px;
  }
  .contentContainer {
    width: 100%;
    height: 1085px;
  }

  .headingContainer {
    width: 85.9vw;
    height: 181px;
  }

  .heading {
    font-size: 6.25vw;
    line-height: 7.52vw;
  }

  .content {
    font-size: 2.73vw;
    line-height: 3.5vw;
  }

  .cardContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 86vw;
    height: 824px;
  }

  .card {
    width: 42.1vw;
    height: 29.28vh;
    gap: 8px;
  }

  .cardImage {
    width: 40.62vw;
    height: 14.86vh;
    border-radius: 6px;
  }

  .cardContent {
    width: 40.62vw;
    height: 6.52vh;
  }

  .cardContent h1 {
    font-size: 1.56vw;
    line-height: 2.05vw;
  }

  .cardContent p {
    width: 100%;
    height: 3.07vh;
    font-size: 1.56vw;
    line-height: 2.05vw;
  }

  .cardFooter {
    width: 100%;
    height: 2.7vh;
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .sectionContainer {
    padding: 48px 24px;
    height: 1600px;
    /* TO be changed to 989px when the section only contains 2 cards */
  }

  .contentContainer {
    gap: 32px;
    width: 327px;
    height: 808px;
  }

  .headingContainer {
    width: 327px;
    height: 177px;
  }

  .heading {
    font-size: 32px;
    line-height: 41px;
  }

  .content {
    font-size: 16px;
    line-height: 21px;
    width: 100%;
  }

  .cardContainer {
    flex-direction: column;
    padding: 0px;
    gap: 16px;
    width: 327px;
    height: 1217px;
    flex-wrap: wrap;
  }

  .card {
    width: 327px;
    height: 290px;
    padding: 8px 8px 0px;
    gap: 8px;
  }

  .cardImage {
    width: 311px;
    height: 150px;
  }

  .cardContent {
    padding: 0px;
    gap: 4px;
    width: 311px;
    height: 79px;
  }

  .cardContent h1 {
    font-size: 16px;
    line-height: 21px;
  }

  .cardContent p {
    font-size: 14px;
    line-height: 18px;
    width: 311px;
    height: 54px;
  }

  .cardFooter {
    padding: 8px;
    gap: 4px;
    width: 311px;
    height: 37px;
  }

  .cardFooter p {
    font-size: 14px;
    line-height: 18px;
  }
}
