.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 72px;
  gap: 32px;
  height: 996px;

  background: linear-gradient(180deg, #f6f6f6 0%, #f5fae7 100%);
}

.contentContainer {
  gap: 80px;
  height: 711px;
  width: 1296px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
  height: 181px;
  width: 945px;
}

.heading {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #121b64;
}

.content {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  height: 450px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 312px;
  height: 450px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}

.cardImage {
  padding-top: 8px;
  border-radius: 6px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;
  width: 296px;
  height: 110px;
}

.cardContent h1 {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.cardContent p {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  height: 63px;
  color: #686868;
  width: 280px;
  height: 63px;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 10px;
  width: 296px;
  height: 37px;
}

.cardFooter p {
  color: #bebebe;
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.readMore {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #7e8139;
}
