@import url("https://fonts.cdnfonts.com/css/futura-pt");

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 72px;
  gap: 32px;
  height: 1173px;
  background: linear-gradient(
    180deg,
    #f6f6f6 0%,
    rgba(255, 255, 255, 0.984043) 14.35%
  );
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  width: 100%;
  height: auto;
}

.textContainer {
  gap: 32px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textContainer h1 {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  color: #121b64;
}

.textContainer p {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #32302f;
}

.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
}

.topFounder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 360px;
}

.founderCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 246px;
  height: 360px;
  border: 1px solid #bebebe;
  flex-grow: 1;
}

.founderImage {
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  width: 100%;
  padding: 16px 32px 16px 16px;
}

.cardText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  /* width: 114px;
  height: 46px; */
}

.founderName {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.designation {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #686868;
}

.quoteContainer {
  width: 1048px;
  height: 100%;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #bebebe;
  overflow: hidden;
}

.quoteContainer p {
  font-family: "Futura PT", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  display: flex;
  align-items: center;
  color: #686868;

  position: relative;
  width: 771px;
  margin: 119px;
}

.openQuotes {
  position: relative;
  left: 50px;
  top: 80px;
}

.closeQuotes {
  position: relative;
  left: 938px;
  bottom: 110px;
}

.founderCardsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  max-width: 1294px;
}

/* for ipad view */
@media only screen and (max-width: 1439px) {
  .sectionContainer {
    height: auto;
  }

  .teamContainer {
    width: 100%;
  }

  .topFounder {
    width: 100%;
  }

  .founderCard {
    width: 282px;
    height: 360px;
    max-width: 432px;
    max-height: 360px;
  }

  .cardFooter {
    height: 72px;
  }

  .quoteContainer {
    /* width: 58.4vw;2 */
    height: 100%;
    max-width: 598px;
  }

  .quoteContainer p {
    width: 526px;
    font-size: 28px;
    line-height: 36px;
    margin: 8vw 2.5vw;
    width: fit-content;
  }

  .openQuotes {
    width: 39.5px;
    height: 25.5px;
    left: 39.71px;
    top: 32.75px;
  }

  .closeQuotes {
    width: 39.5px;
    height: 25.5px;
    position: relative;
    bottom: 32.75px;
    left: 528.29px;
  }

  .founderCardsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    max-width: 1294px;
  }
}

/* mobile view */
@media only screen and (max-width: 480px) and (min-width: 280px) {
  .sectionContainer {
    flex-direction: row;
    align-items: flex-start;
    padding: 48px 24px;
    gap: 10px;
    border-radius: 0px 0px 48px 48px;
    /* width: 375px;
    height: 1046px; */
  }

  .contentContainer {
    gap: 32px;
    /* width: 327px;
    height: 950px; */
  }

  .textContainer h1 {
    font-size: 32px;
    line-height: 41px;
  }

  .textContainer p {
    font-size: 16px;
    line-height: 21px;
  }

  .topFounder {
    height: 183.5px;
  }

  .founderCard {
    max-width: 155.5px;
    max-height: 183.5px;
  }

  .founderImage {
    width: 155.5px;
    height: 124.5px;
  }

  .cardFooter {
    align-items: flex-start;
    padding: 8px;

    /* position: absolute;
    width: 155.5px;
    height: 59px;
    left: 0px;
    top: 124.5px; */
  }

  .founderName {
    font-size: 16px;
    line-height: 21px;
  }

  .designation {
    font-size: 14px;
    line-height: 18px;
  }

  .linkedinLogo {
    width: 16px;
    height: 15.29px;
  }

  .quoteContainer p {
    font-size: 16px;
    line-height: 21px;
    margin: 10px;
  }

  .openQuotes {
    width: 15.8px;
    height: 10.2px;
    position: relative;
    left: 9px;
    top: 13px;
  }
  .closeQuotes {
    width: 15.8px;
    height: 10.2px;
    position: relative;
    left: 147px;
    top: 1px;
  }
}
